<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821705206782-dgsjun9vbnpqm0952cgb1n3dh8mgim6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821705206782-dgsjun9vbnpqm0952cgb1n3dh8mgim6l</string>
	<key>API_KEY</key>
	<string>AIzaSyC6O_l6-rqnnRFuy4Li5zyE0gBgvJQ_L74</string>
	<key>GCM_SENDER_ID</key>
	<string>821705206782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeppesen.engineering.ocr-test</string>
	<key>PROJECT_ID</key>
	<string>ocr-test-artur</string>
	<key>STORAGE_BUCKET</key>
	<string>ocr-test-artur.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821705206782:ios:ba2723d671c59df36f6eaf</string>
	<key>DATABASE_URL</key>
	<string>https://ocr-test-artur.firebaseio.com</string>
</dict>
</plist>